@import url(../materialize/materialize.min.css);
body, .site { background-color: white; }

.teaser-big { min-height: 350px; }
.teaser-big p { margin: 0; padding: 0; }

.teaser-big-container { height: 450px; overflow: hidden; }
@media (min-width: 602px) and (max-width: 992px) { .teaser-big-container { height: 350px; } }
@media (max-width: 601px) { .teaser-big-container { height: 300px; } }

.navbar .nav-wrapper .wappen-desktop { width: 45px; margin: 5px 10px; }
@media (max-width: 992px) { .navbar .nav-wrapper .wappen-desktop { display: none; } }

.navbar .nav-wrapper .wappen-mobile-container { display: flex; justify-content: center; align-items: center; }
.navbar .nav-wrapper .wappen-mobile-container .wappen-mobile { width: 80px; margin: 2.5%; }

.navbar .nav-wrapper ul li ul.nav.menu > li { position: relative; }
.navbar .nav-wrapper ul li ul.nav.menu > li a { white-space: nowrap; }
.navbar .nav-wrapper ul li ul.nav.menu > li:hover > a + ul { display: flex; }
.navbar .nav-wrapper ul li ul.nav.menu > li > a + ul { display: none; position: absolute; right: 0; background-color: green; box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); transition: box-shadow .25s; box-shadow: 0; }
.navbar .nav-wrapper ul li ul.nav.menu > li > a + ul > li { width: 100%; min-width: 150px; }
.navbar .nav-wrapper ul li ul.nav.menu > li > a + ul > li > a { text-decoration: underline; width: 100%; }
.navbar .nav-wrapper ul li ul.nav.menu > li > a + ul > li > ul > li { width: 100%; }
.navbar .nav-wrapper ul li ul.nav.menu > li > a + ul > li > ul > li > a { padding: 0 15% 0 25%; width: 100%; }

.navbar .nav-wrapper .side-nav .nav.menu li > ul > li > a { padding-left: 15%; color: green; }
.navbar .nav-wrapper .side-nav .nav.menu li > ul > li > ul > li > a { padding-left: 25%; color: black; }

.sub-navigation { z-index: 10; height: auto; }
.sub-navigation .nav.menu { display: flex; flex-direction: row; flex-wrap: wrap; }

.content { display: flex; flex-direction: row; }
.content .row-middle { flex: 1; }
.content .row-right, .content .row-left { flex: 1; max-width: 30%; background-color: grey; }

.custom-sv08-section, .sv08-section { padding: 20px 15% 50px 15%; margin: 0; }
@media (max-width: 992px) { .custom-sv08-section, .sv08-section { padding: 20px 10% 50px 10%; } }

.custom-sv08-teaser-big, .sv08-teaser-big { height: 500px; background-position: center top; background-size: cover; background-repeat: no-repeat; }
.custom-sv08-teaser-big *, .sv08-teaser-big * { display: none; }

a.section-anchor { padding-top: 128px; margin-top: -128px; display: inline-block; visibility: hidden; height: 0; position: absolute; }

.row-flex-wrap { display: flex; flex-direction: row; flex-wrap: wrap; margin: 50px 0; }

.row-col-wrap { margin: 20px -1% 50px -1%; -webkit-column-count: 2; /* Chrome, Safari, Opera */ -moz-column-count: 2; /* Firefox */ column-count: 2; column-fill: balance; -moz-column-fill: balance; -webkit-column-fill: balance; }
@media (max-width: 992px) { .row-col-wrap { -webkit-column-count: 1; /* Chrome, Safari, Opera */ -moz-column-count: 1; /* Firefox */ column-count: 1; } }
.row-col-wrap .col { -webkit-column-break-inside: avoid; page-break-inside: avoid; /* Firefox is dumb */ break-inside: avoid; }

.card .article-image-container { width: 100%; height: 200px; }
.card .article-image-container img { width: 100%; height: 100%; object-fit: cover; }
.card .article-title-container { padding-bottom: 10px; }
.card .article-title-container .article-title { line-height: 24px; font-size: 24px; font-weight: 300; color: #1B5E20; }
.card .article-title-container p { font-size: 15px; }
.card .article-info-container { padding: 10px 0; }

footer .wappen { width: 200px; }
footer a { color: white; }
