body, .site { background-color: white; }

.teaser-big { min-height: 350px; background-color: yellow; }
.teaser-big p { margin: 0; padding: 0; }

.parallax-container { height: 350px; }

.navbar .nav-wrapper ul li ul.nav > li { position: relative; }
.navbar .nav-wrapper ul li ul.nav > li a { white-space: nowrap; }

.navbar .nav-wrapper ul > li > ul.nav > li:hover > a + ul { display: flex; }

.navbar .nav-wrapper ul > li > ul.nav > li > a + ul { display: none; position: absolute; right: 0; background-color: green; }
.navbar .nav-wrapper ul > li > ul.nav > li > a + ul > li + a { text-decoration: underline; color: red; }

.content { display: flex; flex-direction: row; }
.content .row-middle { flex: 1; }
.content .row-right, .content .row-left { flex: 1; max-width: 30%; background-color: grey; }

.custom-sv08-section, .sv08-section { padding: 50px 15%; margin: 0; }

.custom-sv08-teaser-big { height: 500px; background-position: center top; background-size: cover; background-repeat: no-repeat; }
.custom-sv08-teaser-big * { display: none; }

a.section-anchor { padding-top: 128px; margin-top: -128px; display: inline-block; visibility: hidden; height: 0; position: absolute; }
