.blog, .blog-featured {
    margin-bottom: 170px;
    img {
        max-width: 100%;
        width:     100%;
    }

    .img_caption {
        width: 100%;

        p {
            width:      100%;
            text-align: center;
            margin:     0;
            font-size:  12px;
        }

    }

    h2 {
        margin:    0 0 10px 0;
        font-size: 2rem;
        a {
            color: green
        }
    }

    .card {
        margin: 20px 0;

        .card-intro {

            .pull-left {

                overflow: hidden;
            }

        }

        .card-content {
            margin-top: 0;

            //.page-header h2 {
            //    margin:    0 0 10px 0;
            //    font-size: 2rem;
            //    a {
            //        color: green
            //    }
            //}

            figure {
                margin: 1em 0;
            }

            figcaption {
                text-align: center;
                font-size:  12px;
            }
        }

        //.card-action {
        //}

        .readmore {
            margin-top: 10px;
        }

    }
}

//.blog-featured {
//    margin-bottom: 170px;
//    img {
//        max-width: 100%;
//        width:     100%;
//    }
//
//    h2 {
//        margin:    0 0 10px 0;
//        font-size: 2rem;
//        a {
//            color: green
//        }
//    }
//
//    .card {
//        margin: 20px 0;
//        .readmore {
//            margin-top: 10px;
//        }
//    }
//
//}

// article
.item-page {
    margin-bottom: 170px;
    img {
        max-width: 100%;
    }

    .fulltext-container {
        @extend .green, .darken-3;
        //background-color: #2E7D32;
        max-height: 35vw;
        overflow:   hidden;

        //@include at('medium') {
        //    height: 350px;
        //}
        //
        //@include to('medium-up') {
        //    height: 300px;
        //}

        &-dummy {
            height: 12vw;
        }

        .material-placeholder {
            width:  100%;
            height: 100%;
        }

        img {
            width:           100%;
            height:          100%;
            object-fit:      cover;
            object-position: 50% 20%;
        }
    }

    .card {
        margin-top: -10vw;
        //margin-top: -100px;
        //
        //@include to('medium') {
        //    margin-top: -60px;
        //}
        //
        //@include to('small') {
        //    margin-top: -40px;
        //}

        figure {
            margin: 1em 0;
        }

        figcaption {
            text-align: center;
            font-size:  12px;
        }
    }
}

dl.article-info.muted {
    //display:         flex;
    //flex-direction:  row;
    //flex-wrap:       wrap;
    //justify-content: space-between;
    margin:               0;

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count:    2; /* Firefox */
    column-count:         2;
    column-fill:          balance;
    -moz-column-fill:     balance;
    -webkit-column-fill:  balance;

    @include to('small') {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count:    1; /* Firefox */
        column-count:         1;
    }

    dd {
        display: block;
        margin:  0;
        //flex:    1 1 auto;
        a {
            color: green;
        }
    }
}

// weiterlesen button in article blog layout
p.readmore {
    margin-top: 10px;
}

// weiter zurueck unter einem category article
ul.pager.pagenav {
    display:         flex;
    justify-content: space-between;
}

// extra article view
.sv08-article-with-teaser .fulltext-container {
    display: none;

}