body, .site {
    background-color: white;
}

.teaser-big {
    min-height:       350px;
    background-color: yellow;

    p {
        margin:  0;
        padding: 0;
    }
}

.parallax-container {
    height: 350px;
}

.navbar .nav-wrapper ul li ul.nav > li {
    position: relative;

    a {
        white-space: nowrap;
    }
}

.navbar .nav-wrapper ul > li > ul.nav > li:hover > a + ul {
    display: flex;
}

.navbar .nav-wrapper ul > li > ul.nav > li > a + ul {
    display:          none;
    position:         absolute;
    right:            0;
    background-color: green;

    > li + a {
        text-decoration: underline;
        color:           red;
    }
}

//.navbar .nav-wrapper ul li ul li:hover > ul li {
//    display: flex;
//}

//ul.nav-child.unstyled.small {
//    display: none;
//}

.content {
    display:        flex;
    flex-direction: row;

    .row-middle {
        flex: 1;
    }

    .row-right, .row-left {
        flex:             1;
        max-width:        30%;
        background-color: grey;
    }
}

.custom-sv08-section, .sv08-section {
    padding: 20px 15% 50px 15%;
    margin:  0;
}

// suffix

.custom-sv08-teaser-big {
    height:              500px;
    background-position: center top;
    background-size:     cover;
    background-repeat:   no-repeat;

    * {
        display: none
    }
}

a.section-anchor {
    padding-top: 128px;
    margin-top:  -128px;
    display:     inline-block;
    visibility:  hidden;
    height:      0;
    position:    absolute;
}