@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/breakpoint-slicer-scss/src/breakpoint-slicer";
@import "../materialize/materialize.min.css";

$slicer-breakpoints: 0 600px 601px 992px;
$slicer-breakpoint-names: 'small' 'medium-up' 'medium' 'large';

body, .site {
    background-color: white;
}

.teaser-big {
    min-height: 350px;

    p {
        margin:  0;
        padding: 0;
    }
}

.teaser-big-container {
    height:   450px;
    overflow: hidden;

    @include at('medium') {
        height: 350px;
    }

    @include to('medium-up') {
        height: 300px;
    }
}

.navbar .nav-wrapper ul li ul.nav.menu {

    > li {
        position: relative;

        a {
            white-space: nowrap;
        }
    }

    > li:hover > a + ul {
        display: flex;
        //padding: 10%;
    }

    // extended menu
    > li > a + ul {
        display:          none;
        //display:          flex;
        position:         absolute;
        right:            0;
        background-color: green;
        // shadow
        box-shadow:       0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
        // hoverable
        transition:       box-shadow .25s;
        box-shadow:       0;

        // aktive list
        > li {
            //padding:   2% 0;
            width:     100%;
            min-width: 150px;

            // aktive
            > a {
                text-decoration: underline;
                width:           100%;
            }

            // 1. Mannschaft li
            > ul > li {
                width: 100%;

                > a {
                    padding: 0 15% 0 25%;
                    width:   100%;
                }
            }

        }

    }
}

// mobile navigation
.navbar .nav-wrapper .side-nav .nav.menu li {
    //background-color: violet;

    > ul > li {
        > a {
            padding-left: 15%;
            color:        green;
            //background-color: yellow;
        }
        > ul > li {
            > a {

                padding-left: 25%;
                color:        black;
                //background-color: red;
            }
        }
    }

}

.sub-navigation {
    z-index: 10;
    height:  auto;

    .nav.menu {
        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
    }
}

//.navbar .nav-wrapper ul li ul li:hover > ul li {
//    display: flex;
//}

//ul.nav-child.unstyled.small {
//    display: none;
//}

.content {
    display:        flex;
    flex-direction: row;

    .row-middle {
        flex: 1;
    }

    .row-right, .row-left {
        flex:             1;
        max-width:        30%;
        background-color: grey;
    }
}

.custom-sv08-section, .sv08-section {
    padding: 20px 15% 50px 15%;
    margin:  0;

    @include to('medium') {
        padding: 20px 10% 50px 10%;
    }
}

// suffix

.custom-sv08-teaser-big, .sv08-teaser-big {
    height:              500px;
    background-position: center top;
    background-size:     cover;
    background-repeat:   no-repeat;

    * {
        display: none
    }
}

a.section-anchor {
    padding-top: 128px;
    margin-top:  -128px;
    display:     inline-block;
    visibility:  hidden;
    height:      0;
    position:    absolute;
}

.row-flex-wrap {
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;
    margin:         50px 0;
}

// article
.card {

    .article-title-container {
        padding-bottom: 10px;

        .article-title {
            line-height: 24px;
            font-size:   24px;
            font-weight: 300;
            color:       #1B5E20;
        }

        p {
            font-size: 15px;
        }
    }
    .article-info-container {
        padding: 10px 0;
    }

}