.event {
    padding:        5px 10px;
    display:        flex;
    flex-direction: column;
    width:          100%;

    .flex-row {
        display:         flex;
        justify-content: space-between;
    }
    .flex {
        display:     flex;
        //justify-content: center;
        align-items: center;
    }

    &_category {
        padding-right: 5px;
    }
}


